.home-page {
  width: 100%;
  height: 6405px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.aboutme-section {
  top: 85px;
  left: 0px;
  width: 1440px;
  height: 799px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle7 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 799px;
  opacity: 0.00;
  position: absolute;
  border-color: transparent;
}
.text {
  top: -329px;
  left: 159px;
  color: rgba(13, 47, 63, 1);
  width: 566px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group20 {
  top: 874px;
  left: 833px;
  width: 635.9100952148438px;
  height: 595.4305419921875px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.toppng1 {
  top: 0px;
  left: 250.68479919433594px;
  width: 486px;
  height: 254px;
  position: absolute;
  border-color: transparent;
}
.toppng2 {
  top: 528.084716796875px;
  left: 439.75537109375px;
  width: 428px;
  height: 254px;
  position: absolute;
  border-color: transparent;
}
.toppng3 {
  top: 579.09716796875px;
  left: 373.548828125px;
  width: 486px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.toppng4 {
  top: 595.4305419921875px;
  left: 339.934814453125px;
  width: 486px;
  height: 237px;
  position: absolute;
  border-color: transparent;
}
.i-m-g20210803185903223removebgpreview2 {
  top: 821.2545166015625px;
  left: 968px;
  width: 424px;
  height: 424px;
  opacity: 0.00;
  position: absolute;
  border-color: transparent;
  border-radius: 87px;
}
.text002 {
  top: -275px;
  left: 160px;
  color: rgba(13, 47, 63, 1);
  width: 518px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text004 {
  top: -384px;
  left: 159px;
  color: rgba(37, 56, 63, 1);
  width: 560px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 35px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.link {
  display: contents;
}
.group2 {
  top: 424px;
  left: -499px;
  width: 223px;
  height: 48px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text006 {
  top: 11px;
  left: 52.7060546875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.link1 {
  display: contents;
}
.group18 {
  top: 549px;
  left: -435px;
  width: 184px;
  height: 48px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(13, 47, 63, 1);
}
.message {
  top: 9.5px;
  left: 26px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
}
.rectangle1 {
  top: 6px;
  left: 4px;
  width: 16px;
  height: 12px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}
.text008 {
  top: 9px;
  left: 60px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.experiences-section {
  top: 1778px;
  left: 1px;
  width: 1440px;
  height: 974px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle8 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 974px;
  position: absolute;
  border-color: transparent;
}
.text010 {
  top: 105px;
  left: -490px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4000000059604645) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group25 {
  top: 263px;
  left: 1440px;
  width: 480px;
  height: 261px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text012 {
  top: 48px;
  color: rgba(37, 56, 63, 1);
  width: 480px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text014 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group26 {
  top: 634px;
  left: 1440px;
  width: 480px;
  height: 188px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text016 {
  top: 92px;
  color: rgba(37, 56, 63, 1);
  width: 480px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text017 {
  font-weight: 400;
}
.text018 {
  font-weight: 700;
}
.text020 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group27 {
  top: -645px;
  left: 662px;
  width: 95px;
  height: 588px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ellipse1 {
  top: 25px;
  left: 25px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.ellipse3 {
  top: 398px;
  left: 25px;
  width: 46px;
  height: 46px;
  position: absolute;
  border-color: transparent;
}
.ellipse2 {
  top: 0px;
  left: 0px;
  width: 95px;
  height: 95px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.ellipse4 {
  top: 373px;
  left: 0px;
  width: 95px;
  height: 95px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
}
.group24 {
  top: 631px;
  left: -407px;
  width: 407px;
  height: 150px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text022 {
  top: 115px;
  left: 128px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text024 {
  top: 80px;
  left: 128px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text026 {
  top: 19px;
  left: 128px;
  color: rgba(13, 47, 63, 1);
  width: 279px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.d1fa1fc53f96eafb8f83c84716920ce5tn1 {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-color: transparent;
  border-radius: 100px;
}
.group23 {
  top: 254px;
  left: -490px;
  width: 448px;
  height: 128px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text028 {
  top: 93px;
  left: 127px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text030 {
  top: 54px;
  left: 127px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text032 {
  top: 17px;
  left: 127px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.featuredchannel1 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 106px;
  position: absolute;
  border-color: transparent;
}
.education-section {
  top: 884px;
  left: 0px;
  width: 1440px;
  height: 894px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle10 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 894px;
  position: absolute;
  border-color: transparent;
}
.text034 {
  top: 255px;
  left: 1440px;
  color: rgba(13, 47, 63, 1);
  width: 594px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text043 {
  top: 645px;
  left: 1458px;
  color: rgba(13, 47, 63, 1);
  width: 576px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group44 {
  top: 257px;
  left: -511px;
  width: 398px;
  height: 115px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text045 {
  top: 26px;
  left: 125px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text047 {
  top: 53px;
  left: 125px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text049 {
  top: 80px;
  left: 125px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text051 {
  left: 125px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.logo-revo-u51 {
  top: 3px;
  left: 0px;
  width: 87px;
  height: 87px;
  position: absolute;
  border-color: transparent;
}
.group45 {
  top: 648.0001220703125px;
  left: -519px;
  width: 420px;
  height: 133.9998779296875px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text053 {
  top: 32.9998779296875px;
  left: 128px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text055 {
  top: 65.9998779296875px;
  left: 128px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text057 {
  top: 98.9998779296875px;
  left: 128px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.text059 {
  top: 3.9998779296875px;
  left: 128px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.undip1 {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 105px;
  position: absolute;
  border-color: transparent;
}
.education {
  top: 89px;
  left: -423px;
  width: 371px;
  height: 89px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text061 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6000000238418579) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.skills-section {
  top: 2752px;
  left: 5px;
  width: 1440px;
  height: 1231px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle11 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1231px;
  position: absolute;
  border-color: transparent;
}
.text063 {
  top: 432px;
  left: -521px;
  color: rgba(37, 56, 63, 1);
  width: 457px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text065 {
  top: 723px;
  left: -494px;
  color: rgba(37, 56, 63, 1);
  width: 459px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text067 {
  top: 1010px;
  left: -1073px;
  color: rgba(37, 56, 63, 1);
  width: 980px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text069 {
  top: 425px;
  left: 1440px;
  color: rgba(37, 56, 63, 1);
  width: 459px;
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group8 {
  top: 117px;
  left: -564px;
  width: 525px;
  height: 89px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text071 {
  top: 1px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6000000238418579) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group10 {
  top: 576px;
  left: -424px;
  width: 459px;
  height: 134px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text073 {
  top: 70px;
  left: 134px;
  color: rgba(37, 56, 63, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.ellipse7 {
  top: 25px;
  left: 35px;
  width: 76px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.text075 {
  top: 32px;
  left: 134px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.kisspngpythongeneralpurposeprogramminglanguagecomp {
  top: 34px;
  left: 38px;
  width: 70px;
  height: 62px;
  position: absolute;
  border-color: transparent;
}
.group9 {
  top: 876px;
  left: 1394px;
  width: 459px;
  height: 134px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text077 {
  top: 70px;
  left: 134px;
  color: rgba(37, 56, 63, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.ellipse8 {
  top: 25px;
  left: 35px;
  width: 76px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.text079 {
  top: 32px;
  left: 134px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.looker1 {
  top: 36px;
  left: 55px;
  width: 35px;
  height: 55px;
  position: absolute;
  border-color: transparent;
}
.group13 {
  top: 876px;
  left: -459px;
  width: 459px;
  height: 134px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text081 {
  top: 70px;
  left: 134px;
  color: rgba(37, 56, 63, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.ellipse9 {
  top: 25px;
  left: 35px;
  width: 76px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.text083 {
  top: 32px;
  left: 134px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pngwing2 {
  top: 34px;
  left: 43px;
  width: 59px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.group14 {
  top: 281px;
  left: -459px;
  width: 459px;
  height: 134px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text085 {
  top: 70px;
  left: 134px;
  color: rgba(37, 56, 63, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.ellipse5 {
  top: 25px;
  left: 35px;
  width: 76px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.text087 {
  top: 31px;
  left: 134px;
  color: rgba(13, 47, 63, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.kisspngmicrosoftexcelspreadsheetcomputersoftwarepo {
  top: 26px;
  left: 35px;
  width: 74px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.group15 {
  top: 279px;
  left: 1440px;
  width: 459px;
  height: 134px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group12 {
  top: 0px;
  left: 0px;
  width: 459px;
  height: 134px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.text089 {
  top: 70px;
  left: 134px;
  color: rgba(37, 56, 63, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.ellipse6 {
  top: 25px;
  left: 35px;
  width: 76px;
  height: 76px;
  position: absolute;
  border-color: transparent;
}
.text091 {
  top: 32px;
  left: 134px;
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: left;
  font-family: Caros;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pngwing1 {
  top: 36px;
  left: 48px;
  width: 53px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}
.latest-project-section {
  top: 3975px;
  left: 0px;
  width: 1440px;
  height: 986px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle9 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 986px;
  position: absolute;
  border-color: transparent;
}
.group181 {
  top: 268px;
  left: -396px;
  width: 276px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text093 {
  color: rgba(37, 56, 63, 0);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Caros;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.arrowright {
  top: 0px;
  left: 242px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.group16 {
  top: 101px;
  left: -588px;
  width: 553px;
  height: 90px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text095 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6000000238418579) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.scrolling-project {
  top: 341px;
  left: -1310px;
  width: 1232px;
  height: 496px;
  display: flex;
  opacity: 0.00;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.text097 {
  top: 389px;
  left: 1300px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.picture11 {
  top: 0px;
  left: 1293px;
  width: 371px;
  height: 227px;
  position: absolute;
  border-color: transparent;
  border-radius: 26px;
}
.picture12 {
  top: 227px;
  left: 1294px;
  width: 370px;
  height: 143px;
  position: absolute;
  border-color: transparent;
  border-radius: 4px;
}
.text099 {
  top: 394px;
  left: 901px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text101 {
  top: 393px;
  left: 449px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text103 {
  top: 389px;
  left: 41px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sdf1 {
  top: 0px;
  left: 431px;
  width: 370px;
  height: 375px;
  position: absolute;
  border-color: transparent;
  border-radius: 39px;
}
.i-m-a-g-e9stepsto-make-youre-commerce-store-user-friendly11 {
  top: 0px;
  left: 862px;
  width: 370px;
  height: 370px;
  position: absolute;
  border-color: transparent;
  border-radius: 41px;
}
.shutterstock607907531e15701269997432 {
  top: 0px;
  left: 0px;
  width: 370px;
  height: 370px;
  position: absolute;
  border-color: transparent;
  border-radius: 47px;
}
.group32 {
  top: 471px;
  left: 584px;
  width: 64px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ellipse13 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: transparent;
}
.ellipse12 {
  top: 0px;
  left: 39px;
  width: 25px;
  height: 25px;
  position: absolute;
  border-color: transparent;
}
.contact {
  top: 5965px;
  left: 0px;
  width: 1440px;
  height: 440px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.rectangle12 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 440px;
  position: absolute;
  border-color: transparent;
}
.group36 {
  top: 87px;
  left: -461px;
  width: 388px;
  height: 89px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text105 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  opacity: 0.00;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6000000238418579) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.link2 {
  display: contents;
}
.group37 {
  top: 536px;
  left: 561px;
  width: 81px;
  height: 81px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.messagealtfill {
  top: 5px;
  left: 10px;
  width: 63px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.link3 {
  display: contents;
}
.group38 {
  top: 604px;
  left: 680px;
  width: 81px;
  height: 81px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.pngwing3 {
  top: 11.781818389892578px;
  left: 11.781818389892578px;
  width: 57px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.link4 {
  display: contents;
}
.group39 {
  top: 631px;
  left: 799px;
  width: 81px;
  height: 81px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.pngwing21 {
  top: 12px;
  left: 10px;
  width: 59px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.text107 {
  top: 407px;
  left: -246px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Caros;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.recomm-section {
  top: 4961px;
  left: 5px;
  width: 1440px;
  height: 1004px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.group19 {
  top: 72px;
  left: -710px;
  width: 652px;
  height: 89px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text109 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6000000238418579) ;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group201 {
  top: 226px;
  left: -353px;
  width: 295px;
  height: 25px;
  display: flex;
  opacity: 0.00;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text111 {
  color: rgba(13, 47, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Caros;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.recommwalk {
  top: 317px;
  left: -1876px;
  width: 1818px;
  height: 583px;
  display: flex;
  opacity: 0.00;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.group42 {
  top: 0px;
  left: 630px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group33 {
  top: 0px;
  left: 0px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle14 {
  top: 55px;
  left: 0px;
  width: 558px;
  height: 357px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.ellipse14 {
  top: 0px;
  left: 224px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
}
.text113 {
  top: 171px;
  left: 39px;
  color: rgba(37, 56, 63, 1);
  width: 480px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Caros;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text115 {
  top: 337px;
  left: 118px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text117 {
  top: 367px;
  left: 144px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: justified;
  font-family: Caros;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle13 {
  top: 0px;
  left: 224px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
  border-radius: 465.5px;
}
.group43 {
  top: 171px;
  left: 1260px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group34 {
  top: 0px;
  left: 0px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle141 {
  top: 55px;
  left: 0px;
  width: 558px;
  height: 357px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.ellipse141 {
  top: 0px;
  left: 224px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
}
.text119 {
  top: 204px;
  left: 238px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Caros;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text121 {
  top: 337px;
  left: 224px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text123 {
  top: 367px;
  left: 261px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: justified;
  font-family: Caros;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.group41 {
  top: 171px;
  left: 0px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group35 {
  top: 0px;
  left: 0px;
  width: 558px;
  height: 412px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle142 {
  top: 55px;
  left: 0px;
  width: 558px;
  height: 357px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.ellipse142 {
  top: 0px;
  left: 224px;
  width: 110px;
  height: 110px;
  position: absolute;
  border-color: transparent;
}
.text125 {
  top: 204px;
  left: 238px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: justified;
  font-family: Caros;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text127 {
  top: 337px;
  left: 224px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: justified;
  font-family: Caros;
  font-weight: 800;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.text129 {
  top: 367px;
  left: 261px;
  color: rgba(37, 56, 63, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: justified;
  font-family: Caros;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.group46 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 247, 241, 1);
}
.text131 {
  top: 33px;
  left: 987px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text133 {
  top: 33px;
  left: 782px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text135 {
  top: 33px;
  left: 880px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text137 {
  top: 32px;
  left: 1044px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text139 {
  top: 32px;
  left: 1126px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text141 {
  top: 33px;
  left: 1285px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text143 {
  top: 33px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Caros;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
